<%= form_for [@article, @comment] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <%= form.hidden_field :status, :value => 'submitted'%>

  <p>
    <%= form.submit %>
  </p>
<% end %>

